<%- include('partials/header'); %>


	  
<div align="right">
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; תפריט</span>
		<div>
		 <h1><font  face="david" size="10" color="#f4511e">כנעאן כח אדם</font></h1>
		 <p>חברת כח אדם שמגייסת עובדים בכל התחומים השאר קורות חיים ונחזור לך בהקדם האפשרי</p>
		</div>
</div>


	  

	  




<%- include('partials/footer'); %>
